---
title: Home
description: The latest app to help you find new friends with common interests.
image: https://images.unsplash.com/photo-1450849608880-6f787542c88a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3366&q=80
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">God's Fingers</h1>
			<p class="subtext editable">When I consider your heavens, the work of your fingers, the moon and the stars, which you have set in place (Psalms 8:3)</p>
			<!-- <div class="cta button alt"><a href="#">Join Now</a></div> -->
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Introduce<span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Introduce</h2>
				<p class="editable">
					<font size="4">
					God’s Fingers는 성남제일교회 청년연합교구 소속 창업동아리로 성경 시편 8편 3절 말씀을 바탕으로 2012년 3월 창립 되었습니다.<br><br>
					God’s Fingers는 하나님의 손가락으로써 사회적 기업으로 성장하여 창조의 선하심과 예수 그리스도의 사랑을 세상에 알리는 것이 목표입니다.<br><br>
					</font>
					<font size="3">
					<blockquote>
					<p>
					<center>
					<b>주의 손가락으로 만드신 주의 하늘과 주께서 베풀어 두신<br>
						달과 별들을 내가 보오니
					[시편 8:3]
					</b>
					</center>
					</p>
					</blockquote>
					</font>
				</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/intro_img.png" width="400" height="550" alt="성남제일교회" />
			</div>
		</div>
	</section>

	<!-- <section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Pick your interests</h2>
				<p class="editable">The more you tell Frisco the better it gets to know you. Frisco matches you with people who share similar interests with you.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Swipe and go</h2>
				<p class="editable">Frisco shows you cards with people who might be a good match for friendship. Swipe left to move to the next card or right to start talking.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section> -->

	<!-- <section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Find your buddy today</h2>
				<p class="subtext editable">It's free, fun and an exciting way to meet new people.</p>
				<div class="cta button alt"><a href="#">Join Now</a></div>
			</div>
		</div>
	</section> -->
</div>
