.staff {
	padding: 0;
	margin: 0;
	list-style: none;
	@extend %flexbox;
	@include flex-flow(wrap);
	text-align: center;
	li {
		padding: 30px 20px;
		box-sizing: border-box;
		width: 100%;

		@media #{$tablet} {
			@include flex(1, 1, 50%);
		}

		@media #{$desktop} {
			@include flex(1, 1, 33%);
		}

	}

	.name {
		margin-top: 20px;
		font-size: 20px;
		font-weight: bold;
	}

	.position {
		color: #666;
		font-size: 14px;
		font-weight: 600;
	}

	.major {
		margin-top: 1px;
		color: #337ab7;
		font-size: 13px;
		font-weight: 600;
	}

	.blurb {
		color: #8A0808;
		font-size: 13px;
		font-weight: 600;
	}

}
